.button {
    color: inherit;
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 999rem;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.325s;

    &:hover {
        transform: translateY(-5%);
    }
}
