.text{
    position: relative;
    width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bar {
    display: block;
    height: 7px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bar-background-color);
    margin-top: 5px;
}